
/* import special styles */

@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

/* global vars for color choices */

:root {
  --white: #f2f2f2;
  --light_grey: #ededed;
  --grey: #8a8a8a;
  --dark_grey: #333;
  --black: #000;
  --primary_color: #024F0B;
}

/* general styling */

body {
  margin: 0;
  padding: 0;
  font-size: 0.833vw; /* 16px for viewport width = 1920px */
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: var(--dark_grey);
}

a {
  text-decoration: none;
  padding: 0;
}

/* header styles */ 

header {
  background-color: var(--primary_color);
  background-image: url("references/hoh_river_crossing.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  
  height: 100vh;
  text-align: center;
  line-height: 1.2;
  max-width: none;
}

.header-content {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header h1 {
  color: var(--white);
  font-size: 2.5em;
  font-weight: 300;
}

header a {
  border: 1px solid var(--primary_color);
  border-radius: 290486px;
  transition: all 0.2s ease-out;

  padding: 1em 2em;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--white);
}

header a:hover {
  background:  var(--primary_color);
  color: var(--white);
}

/* logo and image styling */

img {
  height: auto;
  max-width: 100%;
  border-radius: 50%;
}

header img {
  display: inline-block;
  vertical-align: top;

  height: 120px;
  width: 120px;
}

/* nav bar which appears and follows as you scroll */

.nav-bar {
  position: fixed;
  z-index: 100;
  width: 100vw;

  background: var(--light_grey);
  transition: all 0.5s ease;
}

#magic-navbar {
  top: -200px;
}

#normal-navbar {
  top: 0;
}

#banner {
  transition: background 0.5s ease;
  background-color: var(--primary_color);
  height: 0.625em /* 10px equivalent */;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.625em 1.25em /* 10px 20px equivalent */;
  font-size: 1em;
}

#nav div {
  margin: 0 0.625em;
}

#nav #right-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav #right-side img {
  /* equivalent of 50px x 50px */
  height: 3.125em;
  width: 3.125em;
  margin: 0 0.625em;
}

.nav-bar:hover .nav-link, .nav-bar:hover .nav-link a {
  color: var(--white);
}

.nav-bar:hover #banner {
  background-color: var(--light_grey);
}

.nav-bar:hover {
  background-color: var(--primary_color);
}

/* styling for links */

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  transition: border 0.5s;
}

.nav-link, .nav-link a {
  color: var(--dark_grey);
}

.nav-link:hover {
  border-bottom: 1px solid var(--white);
}

a i, a span {
  color: var(--dark_grey);
}
  
a:hover i, a:hover span {
  color: var(--primary_color);
}

/* personal info */

.personal-info {
  align-content: center;
  margin: 0 auto;
  padding: 4em 1em;
  max-width: 50em;
  line-height: 1.5;
}

/* project portfolio styles */

#portfolio-container {
  aspect-ratio: 2 / 1;
  width: 80vw;
  margin: 80px auto 0 auto;
  padding: 2.5vw 0;

  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));

  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.project {
  background-image: url("references/hoh_river_crossing.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  
  aspect-ratio: 4 / 3;
  position: relative;
  margin: 10px;
  border-radius: 5%;
  color: var(--white);
  text-align: center;
}

#pitt {
  background-image: url("references/downtown_pittsburgh.jpg");
}

#traders {
  background-image: url("references/work_table.jpg");
}

#red-wine {
  background-image: url("references/red_wine.jpg");
}

#front-end {
  background-image: url("references/front-end.jpg");
}

.project h1, .project p, .project a, .project i {
  margin: 0;
  padding: 0;
}

.project h1 {
  padding: 0.25em;
  font-size: 1.5em;
  font-weight: 500;
}

.project p {
  padding: 0.25em 1em;
}

.project-info {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5%;
  background-color: var(--primary_color);

  opacity: 0;
  transform: scale(0);
  transition: all 1s ease-in-out;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.project-title {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease-in-out;
}

.project:hover .project-info {
  opacity: 1;
  transform: scale(1);
}

.project:hover .project-title {
  opacity: 0;
  transform: scale(0);
}

.icon-container {
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--dark_grey);
  border-radius: 50%;
  transition: 0.5s ease;
}

.icon-container i {
  color: var(--white);
  transition: 0.5s ease;
}

.icon-container:hover {
  background-color: var(--white);
}

.icon-container:hover i {
  color: var(--dark_grey);
}

/* footer with redirect links */

footer {
  background-color: var(--light_grey);
}

.redirect {
  align-content: center;
  margin: 0 auto;
  padding: 4em 1em;
  max-width: 50em;
  line-height: 1.2;
}

.redirect a {
  border: 1px solid var(--primary_color);
  border-radius: 290486px;
  transition: all 0.2s ease-out;

  padding: 0.75em 1.5em;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  color: var(--white);
}

.redirect a:hover {
  background: var(--primary_color);
  color: var(--white);
}

.redirect a:hover i, .redirect a:hover span {
  color: var(--white);
}

