
/* import special styles */

@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

/* basic styling */

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #566b78;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2,
strong {
  color: #333;
}

/* primary color */

a {
  color: #e81c4f;
}

/* header with image */ 

header {
  background-color: #263d36;
  background-image: url("visuals/hoh_river_crossing.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  max-width: none;
  padding: 10vw 2em;
  text-align: center;
}

/* add a logo */

img {
  height: auto;
  max-width: 100%;
}

header #logo {
  display: inline-block;
  height: 120px;
  vertical-align: top;
  width: 120px;
  border-radius: 50%;
}

/* change the text styles for the header */

header h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 300;
}

header a {
  border: 1px solid #e81c4f;
  border-radius: 290486px;
  color: white;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

header a:hover {
  background:  #e81c4f;
  color: white;
}

/* description text */

.container {
  margin: 0 auto;
  padding: 4em 1em;
  max-width: 50em;
  line-height: 1.5;
}

footer {
  margin: 0 auto;
  padding: 4em 1em;
  max-width: 50em;
  line-height: 1.5;
}